/* styles.css */
:root {
    --primary-color: rgb(19, 0, 124);
    --secondary-color: #eee;
    --third-color: rgb(56, 57, 58);
    --primary-font-head-footer: "Comic Sans MS", sans-serif;
    --secondary-font-titles: "Story Script", sans-serif;
    --tertiary-font-paragraph: tahoma, sans-serif;
    --font-size: 16px;
    --line-height: 1.5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
padding: 1rem;
    background-color: var(--primary-color);
    text-align: center;
    font-family: var(--primary-font-head-footer);
    color: var(--secondary-color);
    width: 100%;
    position: relative;
}

/**/
h2, ul{
    text-align: center;
}

.hero-pc {
    width: 100%;
    height: 100%;
    align-items: center;
}

.hero-mobile {
    display: none;
}

span {
    font-weight: bold;
}

.icon {
    width: 2%;
    height: 2%;
}

@media only screen and (max-width: 600px) {
  .hero-mobile {
    width: 25%;
    height: 25%;
    align-items: center;
}

}

/* Footer Styling */
footer{
    padding: 1rem;
    background-color: var(--primary-color);
    text-align: center;
    font-family: var(--primary-font-head-footer);
    color: var(--secondary-color);
    position: fixed;
    bottom: 0;
    width: 100%;
}

.javascript {
    color: yellow;
}