/* styles.css */

:root {
    --primary-color: rgb(117, 0, 146);
    --secondary-color: #eee;
    --third-color: rgb(56, 57, 58);
    --primary-font-head-footer: "Comic Sans MS", sans-serif;
    --secondary-font-titles: "Story Script", sans-serif;
    --tertiary-font-paragraph: tahoma, sans-serif;
    --font-size: 16px;
    --line-height: 1.5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Footer Styling */
footer{
    padding: 1rem;
    background-color: var(--primary-color);
    text-align: center;
    font-family: var(--primary-font-head-footer);
    color: var(--secondary-color);
    position: fixed;
    bottom: 0;
    width: 100%;
}

.javascript {
    color: yellow;
}