@media (max-width: 600px) {
  .main-nav ul {
    display: none;
    flex-direction: column;
    background-color: var(--primary-color);
    position: absolute;
    top: 70px;
    right: 10px;
    width: 200px;
    border-radius: 0 0 5px 5px;
    padding: 1rem 0;
  }

  .main-nav ul.show {
    display: flex;
  }

  .hamburger {
    display: flex;
  }

  .options-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 15px;
  }

  figure img {
    width: 300px;
    height: 300px;
  }
}
